# Python byte-code and cache
__pycache__/
*.py[cod]

# PyCharm & CLion projects
.idea/

# Copy of common/ for CMake build of telemetry plugin
simulator/plugin/common/*

# Pesky macOS folder attributes
.DS_Store

# Steam app ID file after a crash
steam_appid.txt
